<html>

<link rel="stylesheet" href="./static/style.css" type="text/css">
<div class="body-content">
<div class="module">
<body>

<center><h1>Search Employee</h1></center>
  <form action={{"/search_emp"}} method="GET">

   <label>search employees by entering Name/Designation/Phone</label>
   <input type="text" name="name" required /><br>
   <input class="btn btn-block btn-primary" type="submit" value="Search"/> <br>

<center><h3><a href ="{{ url_for('index') }}" style = " color:skyblue;">Back</a></h3> </center>
</form>
</div>
<div>
</body>
</html>
