<html>

<link rel="stylesheet" href="./static/style.css" type="text/css">
<div class="body-content">
  <div class="module">
	  
<body>
   <center>
  <h1>Dashboard</h1></center>
  <form action="/" method="post">

</form> 

    <form action="/disp"  method="POST">
      <label>List all Employees</label>
      <input type="submit"  value="List" name="disp" class="btn btn-block btn-primary" /><br>
    </form>

    <form action="/add" method="POST">
      <label>Add Employees</label>
      <input type="submit" value="Add" name="add"  class="btn btn-block btn-primary"/><br>
    </form>


    <form action="/delete" method="POST">
      <label>Delete Employees</label>
      <input type="submit" value="Delete" name="delete"  class="btn btn-block btn-primary"/><br>
    </form>

    <form action="/search" method="POST">
       <label>Search Employees</label>
       <input type="submit" value="Search" name="search" class="btn btn-block btn-primary" /><br>
    </form>
 </div>
</div>

</body>
</html>
